.compare-wrap {
   font-family: Nunito;
   display: flex;
}

.icon-compare {
   width: 30px;
}

.indicator {
   display: flex;
   align-items: center;
   gap: 10px;

   height: 30px;
   padding: 5px 5px 5px 15px;

   min-width: 224px;
}

/* li {
   margin-right: 10px;
} */

ul {
   display: flex;
   margin: 0;
   padding: 0;

   overflow:auto;
}

p {
   margin: 0;
   /* margin-bottom: 10px; */
 
}

.title-indicator {
   text-align: center;
}

.list-about-city p:nth-child(even) {
   background: linear-gradient(to right top, rgba(255, 255, 255 ,0.3), rgba(255, 255, 255,0.3));
}

.indicator:nth-child(even) {
   background: linear-gradient(to right top, rgba(255, 255, 255 ,0.3), rgba(255, 255, 255,0.3));

}

.list-about-city p {
   height: 30px;
   padding: 5px 15px 5px 5px;
}

.no-compare-title {
   margin: 50px auto;
}

.list-about-city {
   text-align: center;

   min-width: fit-content;
}

.titles-compare {
   margin: 15px;
}

.compare-wrap p:hover {
   font-weight: 500;
   cursor: pointer;
}

.remove-compare-city {
   font-family: Nunito;
   margin-left: 5px;
    box-sizing: border-box;
    padding: 0 4px;
    border: 1px solid #fff;
    border-radius: 50px;
    height: 20px;
    line-height: 10px;
    background-color: #fff;
    box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);    
    transition: box-shadow 0.2s;
    cursor: pointer;
}

.remove-compare-city:hover {
   transition: all 0.2s;
   box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.remove-compare-city:active {
   background-color: #808080;
   border: 1px solid #808080;
}

@media (max-width: 550px) {
   .indicator-wrap p {
      /* display: none; */
      font-size: 13px;
      min-width: 100px;
      width: min-content;
   }

   .list-about-city {
      font-size: 16px;
   }

   .title-indicator {
      width: min-content;
      min-width: 100px;
      text-align: center;
   }

   .indicator-wrap {
      width: 160px;
   }
   .indicator {
      min-width: 30px;
   }
}
