@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gaegu:wght@300;400;700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kelly+Slab&family=Marmelad&family=Nanum+Gothic:wght@400;700;800&family=Nova+Mono&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

footer {
  display: flex;
  justify-content: space-around;
  padding: 0;

  font-family: Nunito;

  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  background: white;
}

.footer-icon {
  width: 11vw;
}

.footer-button-active {
  position: relative;
  bottom: 25px;
}

.footer-button {
  transition: 0.5s;
  background-color: white;
  border-radius: 50%;
  padding: 8px 8px 0px 8px;
}

.footer-button:hover {
  transform: translateY(-20px);
}

@media (min-width: 550px) {
  footer {
    display: none;
  }
}
