@import url("https://fonts.googleapis.com/css2?family=Bellota:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Gaegu:wght@300;400;700&family=Inconsolata:wght@200;300;400;500;600;700;800;900&family=Kelly+Slab&family=Marmelad&family=Nanum+Gothic:wght@400;700;800&family=Nova+Mono&family=Nunito:ital,wght@0,200;0,300;0,400;0,500;1,200;1,300;1,400;1,500&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Source+Code+Pro:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,900&family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

main {
  font-family: Nunito;
  padding: 30px 50px;
}

.description {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-bottom: 20px;
}

.description p {
  width: 700px;
  font-size: 17px;
}

.desc-img img {
  width: 50px;
}

.move-to-cities-button {
  font-family: Nunito;
  font-size: 20px;
  margin: 10px 0;
  box-sizing: border-box;
  padding: 0 25px;
  border: 1px solid #fff;
  border-radius: 50px;
  height: 46px;
  line-height: 46px;
  background-color: #fff;
  box-shadow: 0 4px 6px rgb(65 132 144 / 10%), 0 1px 3px rgb(0 0 0 / 8%);
  transition: box-shadow 0.2s;
  cursor: pointer;
}

.move-to-cities-button:hover {
  transition: all 0.2s;
  box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}

.move-to-cities-button:active {
  background-color: #808080;
  border: 1px solid #808080;
}

@media (max-width: 760px) {
  main {
    padding: 20px 50px;
  }

  .description {
    margin-bottom: 15px;
  }

  .description p {
    width: 600px;
    font-size: 17px;
  }

  .desc-img img {
    width: 55px;
  }
}

@media (max-width: 450px) {
  main {
    padding: 15px 10px;
  }

  .description {
    margin-bottom: 0px;
  }

  .description p {
    width: 500px;
    font-size: 15px;
  }

  .desc-img img {
    width: 45px;
  }

  .move-to-cities-button {
    font-size: 17px;
    margin: 15px 0;
    padding: 0 20px;
  }

  main h1 {
    margin: 0 0 10px;
  }
}

@media (max-width: 330px) {
  .description {
    flex-direction: column;
    align-items: center;
    gap: 0px;
    margin-bottom: 10px;
  }

  .description p {
    width: fit-content;
  }

  main h1 {
    font-size: 25px;
    margin: 0 0 10px;
  }
}
