.cities-box {
   margin: 20px 0 0 0;
   display: flex;
   /* width: 49%; */
}

.city-image {
   width: 280px;
}

.city-info {
   margin: 0 0 0 10px;
   display: flex;
   flex-direction: column;
   gap: 10px;
}

.city-description {
   margin: 0;
}

.city-title {
   margin: 10px 0;
}

.city-link {
   text-decoration: none;
   background-image: linear-gradient(currentColor, currentColor);
   background-position: 50% 100%;
   background-repeat: no-repeat;
   background-size: 0% 2px;
   transition: background-size .3s;
   width: fit-content;
}

.box {
   display: flex;
   flex-wrap: wrap;
   gap: 10px;
}

.compare-button {
   font-family: Nunito;
   font-size: 15px;
   box-sizing: border-box;
   padding: 4px 10px;
   border: 1px solid #fff;
   border-radius: 50px;
   background-color: #fff;
   box-shadow: 0 4px 6px rgba(88, 94, 95, 0.1), 0 1px 3px rgb(0 0 0 / 8%);    
   transition: box-shadow 0.2s;
   cursor: pointer;
   width: fit-content;
}
   
.compare-button:hover {
   transition: all 0.2s;
   box-shadow: 0 7px 14px rgb(65 132 144 / 10%), 0 3px 6px rgb(0 0 0 / 8%);
}
   
.compare-button:active {
   background-color: #808080;
   border: 1px solid #808080;
}